@model IEnumerable<AllEntry>;

@{

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.EntryTypeFull.Name</td>
                <td>@entry.BeginDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                <td>@(entry.EndDate.HasValue ? entry.EndDate.Value.ToString("yyyy-MM-dd hh:mm:ss"):"")</td>
                <td>@entry.Title</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", entry.EntryTypeFull.Code, new { id = entry.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Details", "Index", entry.EntryTypeFull.Code, new { id = entry.Id }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Delete", "Delete", entry.EntryTypeFull.Code, new { id = entry.Id }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>
<script></script>

