@model GroupedList<AllEntry>;
<table>
    <thead><tr><td></td><td>Тип записи</td><td>Дата начала</td><td>Описание</td></tr></thead>
    <tbody>
        @foreach (var group in Model.Entries)
        {
            <tr>
                <td>День: @group.Key</td>
                <td>Записей: @group.Value.Count()</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @foreach (var entry in group.Value)
            {
                <tr>
                    <td></td>
                    <td>@entry.EntryTypeFull.Name</td>
                    <td>@entry.BeginDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                    <td>@entry.Title</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", entry.EntryTypeFull.Code, new { id = entry.Id }, null) |
                        @Html.ActionLink("Details", "Index", entry.EntryTypeFull.Code, new { id = entry.Id }, null) |
                        @Html.ActionLink("Delete", "Delete", entry.EntryTypeFull.Code, new { id = entry.Id }, null)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
